.darkmode {
    background-color: black;
    color: white;
}

body {
    background-color: #0A6847;
    font-family: serif;
    font-size: larger;
    background-image: url(./public/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}